<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c:%L - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="logs/logs.log" >
            <PatternLayout>
                <Pattern>%d %p %c:%L %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="cinema" level="info" additivity="false">
            <Appender-ref ref="LogToFile"/>
            <Appender-ref ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <Appender-ref ref="LogToFile"/>
            <Appender-ref ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
